.filtersPanel {
    margin-left: 10px;
    margin-top: 4%;
    width: 100%;
    height: auto;
    border: 3px solid gray;
    border-radius: 30px;
    overflow-wrap: anywhere;
    background-color: dodgerblue;
    color: white;
}

.panelContent {
    margin: 10px;
}