.bookingContainer {
    margin-left: 10px;
    margin-top: 4%;
    width: 100%;
    height: auto;
    border: 1px solid dimgray;
    border-radius: 30px;
    overflow-wrap: anywhere;
    background-color: dodgerblue;
    box-shadow: #888888;
}

.booking-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: 3%;
}

.book-button {
    background-color: #1d4cb9;
    color: white;
    width: 90%;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    cursor: pointer;
    margin-top: 5%;
}

.book-button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.booking-info {
    color: white;
    text-align: center;
    margin-top: 4%;
}

.cost-breakdown-button {
    color: white;

    background: none;
    border: none;
    cursor: pointer;
}

.booking-dates-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.booking-info-parent {
    background-color: transparent;
    border: none;
    cursor: pointer;

    font-size: 0.85rem;
    width: 97%;
    color: white;
}

.booking-info-parent > table {
    border-collapse: collapse;
    width: 100%;
}

.booking-info-parent > th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.booking-info-parent > th {
    font-weight: bold;
}

.reservation-success-icon {
    height: 16vh;

    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.reservation-success-icon.fade-out {
    opacity: 0;
}