.room-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 30px;
    margin: 6px;
}

.room-grid-progress-container {
    width: 100%;
    display: flex;
    justify-content: center;

    min-height: 50vh;
}

.room-grid-progress {
    margin-top: 2%;
}