.room-user-view-container {
    margin-left: 10px;
    margin-top: 4%;
    width: 100%;
    height: auto;
    border: 1px solid dimgray;
    border-radius: 30px;
    overflow-wrap: anywhere;
    background-color: dodgerblue;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.room-user-view-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: 3%;
}

.room-user-info {
    margin-top: 4%;
    display: flex;
    align-items: center;
    flex-direction: column;

    background: none;
    border: none;
    cursor: pointer;
}

.room-user-view-pic {
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    margin-right: 2%;
    margin-bottom: 3%;
}

.room-message-button {
    background-color: rgb(29, 76, 185);
    color: white;
    width: 90%;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    cursor: pointer;
    transition: 0.2s;
}

.room-message-button:hover {
    background-color: rgb(49, 86, 190);
}

.user-rating-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}