.footerContainer {
    background-color: #003580;
    width: 100%;
    padding: 10px;
    color: white;
}

.attributionsLeft {
    font-size: 14px;
    margin-left: 20%;
}

.attributionsRight {
    font-size: 14px;
    margin-left: 20%;
    margin-right: 20%;
}
