.search-header-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    height: 5%;
    width: 85%;
}

.headerBtn {
    background-color: #2271d3;
    color: white;
    font-weight: 500;
    border: none;
    cursor: pointer;
    height: 95%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.headerSearch {
    background-color: white;
    border: 3px solid #febb02;
    display: flex;
    align-items: center;
    border-radius: 5px;
    width: 90%;
    margin: 2%;
    padding: 0.5%;
}

.headerSearchError {
    border: 3px solid lightcoral;
}

.headerIcon {
    color: lightgray;
}

.headerSearchItem {
    display: flex;
    align-items: center;
    height: 100%;
}

.headerSearchInput {
    border: none;
    outline: none;
}

.headerSearchItem.location-bar {
    display: flex;
    align-items: center;
}

.headerSearchText {
    color: lightgray;
    cursor: pointer;
}

.date {
    position: absolute;
    top: 70%;
    z-index: 2;
    border: 2px solid gray;
}

.options {
    z-index: 2;
    position: absolute;
    top: 70%;
    background-color: #ffffff;
    color: gray;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    padding: 2%;
    border: 2px solid gray;
}

.optionItem {
    width: 5.5rem;
    height: 0.2rem;
    display: flex;
    justify-content: center;
    gap: 12%;
}

.optionCounter {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    gap: 10%;
    margin-right: 0.4rem;
}

.optionText {
    line-height: 0.2;
}

.optionCounterButton {
    width: 30px;
    height: 30px;
    border: 1px solid #0071c2;
    color: #0071c2;
    cursor: pointer;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.optionCounterButton:disabled {
    cursor: not-allowed;
}

.location-bar {
    width: 43%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-selection {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.people-options, .search-button-container {
    width: 13.5%;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 5%;
}