.create-room-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-room-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 2% 10% 2% 10%;
}

.accordion-parent {
    padding: 5%;
}

.amenity-popup-button-holder{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 3%;
}

.confirm-amenities-button {
    background-color: #1d4cb9;
    color: white;
    width: 90%;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.amenities-popup {
    /*padding: 2% 15%;*/
    width: 30vw;
}

.map-holder {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.location-form {
    /*width: 60%;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-room-button {
    background-color: blue;
    color: white;
    width: 30%;

    cursor: pointer;
}

.register-room-button:disabled{
    background-color: gray;
    cursor: default;
}

.register-room-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.image-section-parent {
}

.thumbnail-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    border: 3px ridge black;
    padding: 0.8%;
}

.select-thumbnail {
    width: 100%;
    padding: 0;
    margin: 0;
    cursor: pointer;

    background: none;
    border: none;
    outline: none;

    position: relative;
}

.thumbnail-pic {
    min-width: 60%;
    max-width: 100%;
    margin: 0;
    object-fit: contain;
    max-height: 60vh;

    transition: filter 0.3s ease-in-out;
}

.thumbnail-pic:hover {
    filter: brightness(20%);
}

.no-thumbnail-container{
    width: 100%;
    height: 60vh;
    border: 3px dashed gray;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-thumbnail-prompt {
    color: #5e5e5e;
}

.thumbnail-upload-icon {
    color: gray;
    font-size: 4rem;
}

.thumbnail-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    pointer-events: none;

    color: dodgerblue;
}

.select-thumbnail:hover .thumbnail-overlay {
    opacity: 1;
}

.thumbnail-photo-container {
    position: relative;
}

.thumbnail-delete-button {
    z-index: 10;
}

.image-selection-parent {
    width: 100%;
    height: 100%;
    background-color: lightgray;
    border: 3px ridge black;
    padding: 0.8%;
}

.image-grid{
    width: 100%;
    max-height: 60vh;
}

.image-select-button {
    background: none;
    border: none;
    outline: none;

    padding: 0;
}

.image-selection-actions {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 3%;
    position: absolute;
    bottom: 3%;
    right: 0;
}

.highlighted-button {
    border: 4px dashed blue;
}

.image-grid-item {
    width: 20vh;
    height: 20vh;
    object-fit: cover;
}

.add-images-button {
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: none;
    outline: none;
    background: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}