.room-card {
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    background-color: rgb(10, 124, 225);
    border: 1px solid dimgray;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
    transition: 0.4s;
}

.room-card:hover {
    background-color: rgb(25, 140, 250);
}

.room-image {
    width: 100%;
    height: 250px;
    max-height: 300px;
    object-fit: cover;
}

.room-details {
    padding: 0.6rem;
    margin-top: -2%;
}

.rating {
    color: #ffc107;
}

.empty-star {
    color: #e0e0e0;
}

.listing-info {
    display: flex;
    align-items: center;
}

.listing-info p {
    margin-right: 5%;
}