.room-card {
    border: 2px solid gray;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    background-color: rgb(10, 124, 225);
    transition: 0.4s;
}

.room-card:hover {
    background-color: rgb(25, 140, 250);
}

.room-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.room-details {
    padding: 16px;
}

.rating {
    color: #ffc107;
}

.empty-star {
    color: #e0e0e0;
}

.listing-info {
    display: flex;
    align-items: center;
}

.listing-info p {
    margin-right: 5%;
}