.navbar {
    height: 8vh;
    background-color: #003580;
    display: flex;
    justify-content: center;
}

.navContainer {
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
}

.logo {
    font-weight: 500;
}

.navButton {
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #003580;
}

.navItems {
    flex-direction: row;
    justify-content: center;
}

.buttons {
    display: flex;
    align-items: center;
    margin-bottom: 10%;
    margin-right: 10px;
}