.navbar {
    background-color: #003580;
    display: flex;
    justify-content: center;
    min-height: 7vh;
}

.navContainer {
    margin-left: 2%;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0;
}

.logo {
    font-weight: 500;
    font-size: 1.4rem;
}

.navButton {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #003580;
}

.navItems {
    flex-direction: row;
    justify-content: center;
    height: 100%;
    margin-right: 2%;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10%;
    align-items: center;
    margin-bottom: 10%;
    height: 100%;
    margin-right: 10%;
}