.user-dropdown {
    position: relative;
}

.user-name {
    cursor: pointer;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
}

.dropdown-content {
    position: absolute;
    top: 40px;
    right: 0;
    margin-right: 25%;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 8;
    border: 2px solid rgb(17, 17, 155);
    width: 750%
}

.dropdown-content button {
    display: block;
    width: 100%;
    padding: 8px 8px;
    text-align: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dropdown-content button:hover {
    background-color: #ddd;
}

.profile-picture {
    width: 200%;
    height: auto;
    border-radius: 30%;
    object-fit: cover;
    margin-right: 8px;
    position: absolute;
    top: 5px;
    right: 12px;
    cursor: pointer;
    z-index: 1;
}

/*.dropdown-profile-container {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    position: relative;*/
/*}*/

.unread-dot {
    position: absolute;
    bottom: -15%;
    right: 80%;
    width: 70%;
    height: 35%;
    background-color: red;
    border-radius: 50%;
    z-index: 2;
}