.room-view-container {
    margin-top: 1%;
}

.general-room-info {
    margin-left: 5%;
}

.centered-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.room-view-images {
    background-color: green;
    display: flex;
    justify-content: center;

    width: 93%;
}

.main-content-parent {
    background-color: red;

    width: 93%;

    height: auto;

    display: grid;
    grid-template-columns: 74% 22%;
    gap: 3%;
    /*position: relative;*/
}

.review-parent {
    background-color: pink;
    width: 93%;
}

.main-room-content {
    background-color: blue;
    word-wrap: break-word;
}

.room-view-side-panel {
    background-color: yellow;

    /*position: absolute;*/
    right: 0.8%;

    display: flex;
    flex-direction: column;
}

.room-section {
    margin-bottom: 2vh;
    margin-left: 2%;
}

ul, ol {
    padding: 0px 25px;
}

.room-section-title {
    margin-bottom: 1vh;
    font-size: 1.7rem;
}

.room-view-map-container {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.room-view-map {
    width: 60%;
    height: 40vh;

    margin-top: 15px;
}

.review-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}