.room-view-container {
    margin-top: 1%;
}

.general-room-info {
    margin-left: 5%;
}

.centered-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.view-main {
    display: flex;
    flex-direction: column;

    border: 5px solid gray;
    border-radius: 20px;

    width: 94%;
    padding: 1%;
}

.room-view-images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 50%;
    margin: auto;
}

.carousel .carousel-status {
    left: 0;
    right: 0;
    text-align: center;
    color: transparent;
    font-size: 1.4rem;
    text-shadow: none;
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight: 700;
}

.main-content-parent {
    /*background-color: red;*/

    /*width: 94%;*/

    height: auto;

    display: grid;
    grid-template-columns: 71% 25%;
    gap: 2%;

    border-radius: 2%;
    /*position: relative;*/
}

.review-parent {
    /*background-color: pink;*/
    margin-top: 3%;
    border: 5px solid gray;
    border-radius: 30px;
    width: 94%;
}

.main-room-content {
    /*background-color: blue;*/
    word-wrap: break-word;
}

.room-view-side-panel {
    /*right: 4%;*/

    display: flex;
    flex-direction: column;
}

.room-section {
    margin-bottom: 2vh;
    margin-left: 2%;
}

ul, ol {
    padding: 0px 25px;
}

.room-section-title {
    margin-bottom: 1vh;
    font-size: 1.7rem;
}

.room-view-map-container {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.room-view-map {
    width: 60%;
    height: 40vh;

    margin-top: 15px;
    margin-bottom: 15px;
}

.review-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.room-info-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2%
}

.review-link {
    cursor: pointer;
    margin-left: 8px;
}

.room-info-reviews, .room-info-host {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
}

.room-info-host {
    cursor: pointer;
    margin-right: 1%;
}

.room-info-profile-pic {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    margin-right: 5%;
    margin-left: 4%;
    margin-bottom: 3%;
}

.slide-item {
    max-height: 50vh;
    object-fit: contain;
}