.room-view-container {
    margin-top: 1%;
}

.general-room-info {
    margin-left: 5%;
    color: rgb(20, 20, 20);
}

.centered-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.view-main {
    display: flex;
    flex-direction: column;
    background-color: rgb(256,256,256);
    border: 1px solid darkgray;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;

    width: 94%;
    padding: 1%;
}

.room-view-images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 50%;
    margin: auto;
}

.carousel .carousel-status {
    left: 0;
    right: 0;
    text-align: center;
    color: transparent;
    font-size: 1.4rem;
    text-shadow: none;
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight: 700;
}

.main-content-parent {

    height: auto;

    display: grid;
    grid-template-columns: 71% 25%;
    gap: 2%;

    border-radius: 2%;
}

.review-parent {
    margin-top: 3%;
    border-radius: 30px;
    width: 94%;
}

.main-room-content {
    word-wrap: break-word;
}

.room-view-side-panel {

    display: flex;
    flex-direction: column;
}

.room-section {
    margin-bottom: 2vh;
    margin-left: 2%;
}

ul, ol {
    padding: 0px 25px;
}

.room-section-title {
    margin-bottom: 1vh;
    font-size: 1.7rem;
}

.room-view-map-container {
    width: 100%;
    margin-left: 5%;
    display: flex;
    align-items: center;
}

.room-view-map {
    width: 60%;
    height: 40vh;

    margin-top: 1%;
    margin-bottom: 2%;
}

.review-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.room-info-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2%;
    color: rgb(20, 20, 20);
}

.review-link {
    cursor: pointer;
    margin-left: 8px;
    color: rgb(20, 20, 20);
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

.back-to-top-link {
    cursor: pointer;
    color: dodgerblue;
    font-size: 1.1rem;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
}

.back-to-top {
    margin-top: 1rem;
}

.room-info-reviews, .room-info-host {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    color: rgb(20, 20, 20);
}

.room-info-host {
    cursor: pointer;
    color: rgb(20, 20, 20);
    margin-right: 1%;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    font-size: 1.1rem;
}

.room-info-profile-pic {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    margin-right: 5%;
    margin-left: 4%;
    margin-bottom: 3%;
    object-fit: cover;
}

.slide-item {
    max-height: 50vh;
    object-fit: contain;
}

.star-icon {
    color: #2c2929;
}