.review-card-container {
    border: 1px solid gray;
    width: 50vw;
    height: 18.3vw;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 2%;
}

.review-content {
    margin: 3%;
    position: relative;
}

.review-comment-container {
    margin-top: 0.5%;
}

.review-user-info-items {
    display: flex;
    align-items: center;
    position: relative;
}

.review-profile-pic {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    margin-right: 2%;
}

.verified-icon {
    color: #0b700b;
    font-size: 1.5rem;
    margin-right: 1%;
}

/*.review-comment-container {*/
/*    background-color: green;*/

/*    word-break: break-word;*/
/*    !*white-space: nowrap;*!*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*}*/

.expanded {
    height: auto;
}

.not-expanded{
    height: 18.3vw;
    word-break: break-word;
    /*white-space: nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis;
}

.expand-button{
}

.view-review-rating {
    margin-left: 1%;
    margin-top: 1%;
}

.review-actions-panel {
    position: absolute;
    right: 0;
    margin-top: -3%;
    margin-bottom: 10%;
    z-index: 3;
}