.review-card-container {
    border: 2px solid gray;
    width: 50vw;
    height: 17vw;

    word-break: break-word;
    /*white-space: nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis;

    margin-bottom: 2%;
}

.review-content {
    margin: 3%;
}

.review-comment-container {
    margin-top: 2%;
}

.review-user-info-items {
    display: flex;
    align-items: center;
    position: relative;
}

.review-profile-pic {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    margin-right: 2%;
}

.verified-icon {
    color: green;
    position: absolute;
    right: 1%;
    font-size: 1.5rem;
}

.review-comment-container {
    height: 100%;
}

.review-text {

}

.view-review-rating {
    margin-left: 1%;
}