.search-container {
    display: grid;
    width: 100%;
    grid-template-columns: 20% 79.5%;
    gap: 1%;
    align-items: start;
}

.filter-container {
    padding: 20px;

}

.contents {
    width: 100%;
}

.pagination-controls{
    margin-top: 16px;
    display: flex;
    align-items: center;
    width: 100%;
}

.pagination-button{
    font-size: 1.5rem;
    margin: 0 auto;
}