.search-bar-root {
    background-color: #d9d9d9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: center;
    height: 6vh;
}

.autocomplete-bar {
    width: 95%;

}

.search-bar-root .MuiOutlinedInput-notchedOutline {
    border-color: gray !important;
}

.search-bar-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: gray !important;
}

.search-bar-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: gray !important;
}

.search-bar-focused:focus .MuiOutlinedInput-notchedOutline {
    border-color: gray !important;
}

.location-icon {
    margin-bottom: 1%;
    margin-right: 2%;
}