.message-card {
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.2s ease-in-out;
  margin-left: 1%;
  margin-right: 1%;
}

.read {
    color: black;
}

.unread {
    color: red;
}

.message-card:hover {
  background-color: #2c2929;
}

.message-preview {
  margin-top: 8px;
  color: #888;
}

.grid{
    width: 100%;
    height: 30%;
    margin: 0 auto;
    background-color: gray;
}

.pagination-container {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.message-username-label {
    width: 20%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.message-topic-label {
    width: 45%;
    font-size: 1.2rem;
    overflow: hidden;
}

.message-timestamp-label {
    text-align: right;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    width: 28%;
}

.message-status-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7%;

}

.card-section > span {
    margin-left: 5%;
}