.message-card {
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    margin-left: 2%;
    margin-right: 2%;
}

.read {
    color: black;
}

.unread {
    color: red;
}

.message-card:hover {
    background-color: gray;
    transform: scale(1.02);
}

.message-preview {
  margin-top: 8px;
  color: #888;
}

.grid{
    width: 100%;
    margin: 0 auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    height: 42vh;
    position: relative;
}

.pagination-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 1%;
    transform: translateX(-50%);
}

.message-username-label {
    width: 20%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.message-topic-label {
    width: 45%;
    font-size: 1.2rem;
    overflow: hidden;
}

.message-timestamp-label {
    text-align: right;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    width: 28%;
}

.message-status-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7%;

}

.card-section > span {
    margin-left: 5%;
}

.no-messages-container {
    width: 100%;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}