.message-card {
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.2s ease-in-out;
  margin-left: 1%;
  margin-right: 1%;
}

.read {
    color: black;
}

.unread {
    color: red;
}

.message-card:hover {
  background-color: #2c2929;
}

.message-preview {
  margin-top: 8px;
  color: #888;
}

.grid{
    width: 70%;
    height: 30%;
    margin: 0 auto;
    background-color: gray;
}

.pagination-container {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}