.badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0px 2%;
    background-color: #919090;
    color: white;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}